    
    @media(max-width: 800px) {
     
        nav {
          background-color: #f4f4f4;
          color: white;
          display: flex;
          flex-direction: column;
          padding: 42px;
          width:120%;
        }
  
        .hero-image {
          background-image: url("labpic.jpg");
          height: 400px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          width:130%;
             
        }
  
        .color-block {
          display:flex;
          flex-direction: column;
          justify-content:baseline;
         align-items: center;
          position: absolute;
          top: 450px;
          left: 0;
          bottom: 0;
          width: 944px; 
          height:100px;
           background-color: rgb(0, 102, 255); /* adjust to desired color */
          z-index: 1;
          color:white;
          
        }
         
        .section3 {
          background-image: url(invention.jpg);
          height: 400px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 600px;
          padding: 12px 0;
          width: 130%;}
  
          .intersection-image {
            position: relative;
            top: 50%;
            left: 66%;
            transform: translate(-50%, -40%);
            z-index: 1;
        }
  
        .section5 {
          display: flex;
          justify-content: space-between;
          margin-top: 50px;
          flex-direction: column;
          padding: 0;
          width: 38%;
      }
      
      .quote-block {
        flex-basis: 50%;
        padding: 60px 10px;
        background-color: #faf7f7;
        border-radius: 38px;
        height: 306px;
        margin: 52px 14px;
        width: 631px;
    }    
  
    .image-text-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 50px 0;
      width: 130%;
      flex-direction: column;
  }
  
  
  .image-container img {
    width: 43%;
    position: relative;
    left: 271px;
    top: -65px;
  }
  
  .text-container {
    flex-basis: 45%;
    padding: 104px 34px;
  }
  
        .section3 #invention {
          display :flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          font-size: 14px; 
          line-height: 1.5;
          margin-top: 0;
          margin-bottom: 20px; 
        }
         
        #first{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
         
        .inventors{
          flex-direction: column;
        }
  
      
        
        .imge-section {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
      }
  
      .txt-overlay {
        position: absolute;
        top: 112px;
        left: 141px;
        width: 29%;
        height: 50%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        padding: 20px;}
  
        .contact-form {
          position: absolute;
          top: 365px;
          left: 119px;
          width: 25%;
          height: 74%;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: white;
          color: #fff;
          text-align: center;
          padding: 55px 55px 42px 53px;
          box-shadow: 0px 1px 10px rgb(0 16 0);
      }
  
      .imag-container img {
        width: 100%;
        height: 1016px;
        position: relative;
        top: 176px;
        left: -163px;
        margin: -165px 0;
      }
       
      #footer{
       
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
         
      }
      
      }
  
  
  
  
  
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }
        html{
          scroll-behavior: smooth;
      }
      
        header {
          background-color: #333;
          color: white;
          padding: 20px;
          text-align: center;
        }
        #img{
          display: flex;
      position: absolute;
      left: 96px;
      top: 11px;
      height: 94px;
          
        }
        nav {
          background-color: #f4f4f4;
          color: white;
          padding: 42px;
        }
        nav ul {
          list-style: none;
          margin: 0;
          padding: 0px 249px;
        }
        nav li {
          display: inline-block;
          margin: 0 10px;
        }
         
        nav li a {
          text-decoration: none;
          color: black;
        }
        nav li a:hover{
          color:#0860a3;
        }
  
        main {
          padding: 20px;
        }
        section {
          margin: 69px 0;
          padding: 20px;
        }
     
        .hero-image {
          background-image: url("labpic.jpg");
          height: 400px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        
             
        }
      .text-block{
          font-size: 10px;
      }
        .color-block {
          display:flex;
          flex-direction: column;
          justify-content:baseline;
         align-items: center;
          position: absolute;
          top: 450px;
          left: 0;
          bottom: 0;
          width: 800px; 
          height:100px;
           background-color: rgb(0, 102, 255); /* adjust to desired color */
          z-index: 1;
          color:white;
          
        }
        .image-text-section {
          display: flex; 
          flex-wrap: wrap; 
          justify-content: space-between;
          margin: 50px 0; 
        }
        
        .image-container {
          flex-basis: 50%; 
        }
        
        .image-container img {
          display: block; 
          width: 100%; 
          
        }
        
        .text-container {
          flex-basis: 45%;
          padding: 66px 0; 
        }
        
        .text-container h2 {
          font-size: 28px; 
          margin-top: 0; 
        }
        
        .text-container p {
          font-size: 14px; 
          line-height: 24px;
          margin-top: 0;
          margin-bottom: 20px; 
          
        }
        
        h2{
          color :rgb(0, 102, 255); 
        }
  
        .section3{
          background-image: url("invention.jpg");
          height: 400px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          color:white;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height:600px;
          padding:10px 0;
        }
  
        .section3 #invention {
          display :flex;
          flex-direction: column;
          justify-content: center;
          font-size: 14px; 
          line-height: 1.5;
          margin-top: 0;
          margin-bottom: 20px; 
        }
        #invention p {
          display: block;
          margin: auto;
          width: 700px;
          font-size: 12px;
        }
        #invention h1{
          font-size:30px;
        }
  
        .intersection-image {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -40%);
          z-index: 1;
        }
        
        .section4 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        
        }
        
        #first{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
  
        .text {
  
          flex-basis: 50%;
         
          font-size: 13px;
          line-height: 24px;
          padding: 78px;
        }
        .inventors{
          flex-direction:row;
        }
        .image {
          flex-basis: 50%;
        }
        
        .image img {
          width: 82%;
          height: 581px;
          padding: 37px 51px;
        }
        
        .sub-heading{
          color:rgb(0, 102, 255); 
          font-size: 13px;
        }
  
        .section5 {
          display: flex;
      justify-content: space-between;
      margin-top: 50px;
      flex-direction: row;
      padding: -7px;
        }
        
        .quote-block {
          flex-basis: 50%;
      padding: 44px 10px;
      background-color: #faf7f7;
      border-radius: 38px;
      height: 310px;
      margin: 52px 14px;
      width: 469px;
        }
        
        blockquote {
          font-style: italic;
          color:rgb(167, 164, 164);
          font-size: 13px;
          line-height: 24px;
          
        }
        
        
        .quote::after {
          content: '"';
        }
        
         .img-block{
          display: flex;
      align-items: center;
      justify-content: center;
      padding: -11px 5px;
         }
  
         .img-block img{
          height: 40px;
         }
        
         .subscript-block{
          display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: -11px; 
         }
         
         .heading h2{
          position: relative;
          left: 38%;
          top: 0;
          padding: 3px;
         }
         .subscript-block h2 {
          font-size: 16px;
          font-weight: bold;
         }
  
         .imge-section {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        
        .txt {
          flex: 1;
          padding: 0 36px;
          margin: 47px;
  
        }
        
        .txt h2 {
          font-size: 24px;
          margin-bottom: 10px;
        }
        
        .txt p {
          font-size: 13px;
          line-height: 24px;
        }
        
        .imge {
          position: relative;
          top: 6px;
          right: -40px;
          
        }
        
        .imge img {
          display: block;
          width: 606px;
          height: 430px;
        }
        
       #link{
          text-decoration: none;
          color: #0860a3;
          font-size: small;
       }
       .imag-section {
        position: relative;
      }
      
      .contact-form {
        position: absolute;
      top: -31px;
      left: 736px;
      width: 23%;
      height: 80%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #fff;
      text-align: center;
      padding: 48px 55px 103px 53px;
      box-shadow: 0px 1px 10px rgb(0 16 0);
  }
  
  .contact-form p{
    font-size: 13px;
    line-height: 24px;
    color: #333;
    position: relative;
    top: -41px;
    left: -1%;
  }
      
      .contact-form h2 {
        margin-top: 0;
        float: left;
        position: relative;
        left: -92px;
        top: 0;
      }
      
      .contact-form label,
      .contact-form input,
      .contact-form textarea,
      .contact-form button {
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .contact-form label {
        font-weight: bold;
      }
      
      .contact-form input,
      .contact-form textarea {
        padding: 11px;
      border-radius: 0;
      border: black;
      background-color: #E9E5E5;
      width: 307px;
      }
      
      .contact-form button {
        background-color: #2e5ce1;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
      
      .imag-container {
        position: relative;
      }
      
      .imag-container img {
        width: 139%;
      height: 1016px;
      position: relative;
      top: 176px;
      left: -163px;
      margin: -165px 0;
      }
      
      .txt-overlay {
        position: absolute;
        top: 112px;
        left: 141px;
        width: 29%;
        height: 50%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        padding: 20px;
      }
      
      .txt-overlay h2 {
        margin-top: 0;
      }
      
      .txt-overlay p {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 24px;
        font-weight: medium;
      }
      
      #pic{
        height: 150px;
        width: 358px;
        position: relative;
        top: -615px;
        left: 159px;
      }
  
  
      #button{
        float: left;
      padding: 8px;
      align-items: center;
      width: 81px;
      margin: 9px 15px;
      }
  
  
      #message{    
        padding: 43px 0;
          }
  
  
      #footer{
       
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
      }
  
      #footer p{
        color: white;
        font-weight: bolder;
        font-size: 15px;
        position: absolute;
        bottom: -131%;
        left: -6%;
      }
     